$lato: 'Lato', 'Arial', 'Helvetica', sans-serif;

$colors: (cta-color: #11977d,
          white: #fff);
$font-colors: (basic: #777

);

$bg-colors: ();

$breaks: (s: 320px,
          m: 768px,
          l: 1280px);
