$lato: 'Lato', 'Arial', 'Helvetica', sans-serif;

$colors: (cta-color: #11977d,
          white: #fff);

$font-colors: (basic: #777,
               dark: #2d2d2d,
               heading-dark: #363636,
               heading-follower-light: #cecece

);

$bg-colors: (section-dark: #2d2d2d);

$breaks: (s: 320px,
          m: 768px,
          l: 1280px);
