.button {
  @include button-reset();
  @include link-reset();
  display: inline-block;
  border-radius: 15px;
  font-family: $lato;
  cursor: pointer;
}

.button--small {
  padding: 4px 15px;
  font-size: 14px;
  line-height: 24px;
  color: map-get($font-colors, basic);
  border: 1px solid map-get($colors, cta-color);
  transition: color .3s, background-color .3s;
  &:hover {
    background-color: map-get($colors, cta-color);
    color: map-get($colors, white);
  }
  &:active {
    background-color: desaturate(map-get($colors, cta-color), 50%);
  }
}

.button--big {
  font-size: 21px;
  line-height: 36px;
  color: map-get($colors, white);
  padding: 7px 50px;
  background-color: map-get($colors, cta-color);
  transition: background-color .3s;
  &:hover {
    background-color: darken(map-get($colors, cta-color), 10%);
  }
  &:active {
    background-color: map-get($font-colors, basic);
  }
}
