.footer__wrapper {
  padding-top: 55px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bg-cover();
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
                    url('../images/footer-bg.jpg');
}

.footer__slogan {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  color: map-get($font-colors, dark);
  margin-bottom: 25px;
}

.footer__social-nav { margin-bottom: 35px; }

.footer__copy {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  &--bold { font-weight: 800; }
}

@media (max-width: map-get($breaks, m)) {
  .footer__social-nav { margin-bottom: 20px; }
}
